<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />	
 </configSections>
	<log4net></log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="VocRootFolder" value="C:\Temp\__Voc__" />
		<add key="VocFeedbackFileFolder" value="C:\Temp\__Voc__\Archives\IM2AZBNL" />
		<add key="VocWorkingFileFolder" value="C:\Temp\__Voc__\FeedBacks\WorkingFolder" />

		<add key="VocOutputFileFolder" value="C:\Temp\__Voc__\FeedBacks\Output" />
		<add key="VocOutputIssuesFileFolder" value="C:\Temp\__Voc__\FeedBacks\Output\Issues" />
		<add key="VocOutputClaimsFileFolder" value="C:\Temp\__Voc__\FeedBacks\Output\Claims" />
		<add key="VocOutputSalesFileFolder" value="C:\Temp\__Voc__\FeedBacks\Output\Sales" />
		<add key="VocOutputXtalFileFolder" value="C:\Temp\__Voc__\FeedBacks\Output\XtalCR" />
		
		<add key="VocTemplateFileFolder" value="C:\Temp\__Voc__\FeedBacks\Dependencies\Templates" />
		
		<add key="VocBrokerFileFolder" value="C:\Temp\__Voc__\FeedBacks\Dependencies\BrokersList" />
		<add key="VocTranslationsFileFolder" value="C:\Temp\__Voc__\FeedBacks\Dependencies\Translations" />

		<add key="VocResponseFilenamePattern" value="AZ_BNL_Responses_(Claims|Sales|Issue)_(\d{8})_(\d{6})\.csv" />
		<add key="VocBrokerFilenamePattern" value="AZ_BNL_BrokersList.csv" />
		<add key="VocTranslationsFilenamePattern" value="AZ_BNL_Translations.csv" />
		
		<add key="Voc_XlsTemplate_IssuesFilenamePattern" value="az_be_claims_template.xlsx" />
		<add key="Voc_XlsTemplate_ClaimsFilenamePattern" value="az_be_claims_template.xlsx" />
		<add key="Voc_XlsTemplate_SalesFilenamePattern" value="az_be_claims_template.xlsx" />

		<add key="Voc_XlsTemplate_IssuesRange" value="A5:Z5" />
		<add key="Voc_XlsTemplate_ClaimsRange" value="A5:Z5" />
		<add key="Voc_XlsTemplate_SalesRange" value="A5:Z5" />


		<add key="Voc_Xtal_crid" value="toto" />
		<add key="Voc_Xtal_crType" value="TESTING" />
		<add key="Voc_Xtal_ownerEmail" value="geoffroy.depuyt@allianz.be" />
		<add key="Voc_Xtal_ownerCostCenter" value="95475" />
		<add key="Voc_Xtal_priority" value="5" />
		<add key="Voc_Xtal_communicationType" value="ZSCSSM_TEST1" />
		<add key="Voc_Xtal_addresseeRole" value="CLIENT" />
		<add key="Voc_Xtal_isColor" value="true" />
		<add key="Voc_Xtal_channel" value="MAIL" />
		<add key="Voc_Xtal_from" value="noreply@allianz.be" />
		<add key="Voc_Xtal_replyTo" value="noreply@allianz.be" />
		
		
	</appSettings>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>